@import 'reset';

$nutmeg: hsl(14, 45%, 36%);
$dark-raspberry: hsl(332, 51%, 32%);
$white: hsl(0, 0%, 100%);
$rose-white: hsl(330, 100%, 98%);
$eggshell: hsl(30, 54%, 90%);
$light-grey: hsl(30, 18%, 87%);
$wengebrown: hsl(30, 10%, 34%);
$dark-charcoal: hsl(24, 5%, 18%);


@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

$fs-16: 1rem;

$fw-400: 400;
$fw-600: 600;
$fw-700: 700;

$ff-heading: "Young Serif", serif;
$ff-body: "Outfit", sans-serif;
