@import 'globals';

body {
  background-color: $eggshell;
  width: 100%;
  font-family: $ff-body;
  font-weight: $fw-400;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; // Remove these if needed

  .attribution { font-size: 11px; text-align: center; }
  .attribution a { color: $nutmeg; }

  main {

    .main__container {
      background-color: $white;
      border-radius: 1.5rem;
      width: 100%;
      max-width: 46rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 40px;

      .main__container--wrapper {
        width: 90%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 30px;

        .wrapper__img {
        
          img {
            width: 100%;
            height: 100%; // 300px;
            border-radius: 1.5rem;
          }
        }

        .wrapper__content {
          margin-top: 45px;

          .wrapper__content--title {

            h1 {
              color: $dark-charcoal;
              font-size: 40px;
              font-weight: $fw-400;
            }
          }

          .wrapper__content--intro {
            margin-top: 30px;

            p {
              font-size: $fs-16;
              font-weight: $fw-400;
              color: $wengebrown;
              line-height: 20px;
            }
          }

          .wrapper__content--prep {
            background-color: $rose-white;
            border-radius: 12px;
            width: 90%;
            max-width: 656px;
            height: 180px;
            margin-top: 37px;

            h3 {
              color: $dark-raspberry;
              font-size: 20px;
              font-weight: $fw-600;
            }

            .prep__details {
              padding: 20px 20px 0 20px;

              ul {
                display: flex;
                flex-direction: column;

                li {
                  color: $wengebrown;
                  font-family: $ff-body;
                  font-size: $fs-16;
                  list-style: disc;
                  margin-bottom: 18px;
                }
              }
            }
          }

          .wrapper__content--ingredients {
            background-color: $white;
            border-bottom: 1px solid $light-grey;
            width: 90%;
            max-width: 656px;
            margin-top: 37px;

            h3 {
              color: $nutmeg;
              font-size: 28px;
              font-weight: $fw-600;
            }

            .prep__details {
              padding: 20px 20px 0 20px;

              ul {
                display: flex;
                flex-direction: column;
                list-style-type: disc;
                
                ul::marker {
                  color: $nutmeg;
                }

                li {
                  color: $wengebrown;
                  font-family: $ff-body;
                  font-size: $fs-16;
                  margin-bottom: 18px;
                }
              }
            }
          }

          .wrapper__content--instructions {
            background-color: $white;
            border-bottom: 1px solid $light-grey;
            width: 90%;
            max-width: 656px;
            margin-top: 37px;

            h3 {
              color: $nutmeg;
              font-size: 28px;
              font-weight: $fw-600;
            }

            .prep__details {
              padding: 20px 20px 0 20px;

              ol {
                display: flex;
                flex-direction: column;
                list-style: decimal;
                
                ol::marker {
                  color: $nutmeg;
                }

                li {
                  color: $wengebrown;
                  font-family: $ff-body;
                  font-size: $fs-16;
                  margin-bottom: 18px;
                  line-height: 25px;
                }
              }
            }
          }

          .wrapper__content--nutrition {
            background-color: $white;
            border-bottom: 1px solid $light-grey;
            width: 90%;
            max-width: 656px;
            margin-top: 37px;

            .frame {
              padding: 25px 0 25px 15px;
            }

            h3 {
              color: $nutmeg;
              font-size: 28px;
              font-weight: $fw-600;
            }

            .nutrition__sub {
              padding: 20px 0 0 0;

              .body {
                  color: $wengebrown;
                  font-family: $ff-body;
                  font-size: $fs-16;
                  margin-bottom: 18px;
                }
            }

            .nutrition__table {
              width: 100%;

              .nutrition__table--data {
                border-bottom: 1px solid $light-grey;
                // padding-bottom: 15px;

                td.data__data {
                  color: $wengebrown;
                  padding: 20px 0 20px 20px;
                }
                td.data__data.digit {
                  color: $nutmeg;
                }
              }

              .nutrition__table--data:last-child {
                  border-bottom: none;
                }
            }
          }
        }
      } // END OF MAIN CONTAINER WRAPPER
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 375px) {
  body main .main__container .main__container--wrapper .wrapper__content .wrapper__content--title h1 {
    color: hsl(24, 5%, 18%);
    font-size: 35px;
    font-weight: 400;
  }

  .wrapper__content--ingredients,
  .wrapper__content--instructions,
  .wrapper__content--nutrition {
    background-color: $white;
    border-bottom: 1px solid $light-grey;
    width: 100%;
    max-width: 656px;
    margin-top: 37px;

    .frame {
      padding: 0;
    }
  }

  .wrapper__content--nutrition .frame {
    padding: 25px 0 25px 0px;
  }
}